<div class="hero-content">
  <div class="container mx-auto px-4">
    <div class="hero-copy mx-auto text-center">
      <h1 data-hero-title>Love to listen : It matters.</h1>
      <p data-hero-description>
        At Listening Community, we believe that listening is an act of love — one that saves lives, builds empathy, and strengthens communities. Join us in creating a culture of care.<br/>
        <br/>
        Get involved. Be a listener. Make a difference.
      </p>
      <a href="contact.html" class="hero-cta" data-hero-cta>Get Listened</a>
    </div>
  </div>
</div>
