<section class="overflow-hidden" x-data="{ mobileNavOpen: false }">
  <nav class="mx-4 py-6 border-b">
    <div class="container mx-auto px-4">
      <div class="relative flex items-center justify-between">
        <a class="inline-block" href="index.html">
          <img class="h-8" src="images/LC-Logo-02.png" alt="Listening Community logo"/>
        </a>
        <ul class="absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden md:flex">
          <li class="mr-4 lg:mr-8">
            <a class="inline-block text-teal-900 hover:text-teal-700 font-medium" href="about.html">About us</a>
          </li>
          <li class="mr-4 lg:mr-8">
            <a class="inline-block text-teal-900 hover:text-teal-700 font-medium" href="programs.html">Programs</a>
          </li>
          <li class="mr-4 lg:mr-8">
            <a class="inline-block text-teal-900 hover:text-teal-700 font-medium" href="contact.html">Contact us</a>
          </li>
          <li>
            <a class="inline-block text-teal-900 hover:text-teal-700 font-medium" href="blog.html">Blog</a>
          </li>
        </ul>
        <div class="flex items-center justify-end">
          <div class="hidden md:block">
            <div class="hidden md:block">
              <a class="inline-flex py-2.5 px-4 mr-3 lg:mr-4 items-center justify-center text-sm font-medium text-teal-900 hover:text-white border border-teal-900 hover:bg-teal-900 rounded-full transition duration-200" href="login.html">Login</a>
              <a class="inline-flex py-2.5 px-4 items-center justify-center text-sm font-medium text-white border border-teal-900 hover:border-black bg-teal-900 hover:bg-black rounded-full transition duration-200" href="https://wa.me/918606966000?text=Hi%2C%20I%27m%20reaching%20out%20from%20the%20Listening%20Community%20website.%20I%27d%20love%20to%20connect%20with%20you." target="_blank" rel="noopener">Get In Touch</a>
            </div>
          </div>
          <button class="md:hidden text-teal-900 hover:text-teal-800" x-on:click="mobileNavOpen = !mobileNavOpen">
            <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M5.19995 23.2H26.7999" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M5.19995 16H26.7999" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              <path d="M5.19995 8.79999H26.7999" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </button>
        </div>
      </div>
    </div>
  </nav>
  <div data-component-src="components/mobile-menu.html"></div>
</section>
